/* General Styles */
body {
  background-image: url("./Images/website-cover-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #077eba;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Header Styles */
header {
  background: #077eba;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: bold;
}

/* Intro Section Styles */
#intro {
  text-align: center;
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.3);
}

#intro img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

#intro h1 {
  font-size: 2.5em;
  margin: 20px 0;
  color: #077eba;
}

#intro p {
  font-size: 1.2em;
  color: black;
}

#intro .button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #29a6e6;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s;
}

#intro .button:hover {
  background: #077eba;
}

/* Feature Section Styles */
#features {
  padding: 50px 20px;
  background: rgba(249, 249, 249, 0.3);
}

h2 {
  margin: 0;
  text-align: center;
  /* margin-bottom: 40px; */
  font-size: 2em;
  color: #077eba;
  background: rgba(249, 249, 249, 0.3);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.feature img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.feature h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #077eba;
}

.feature p {
  font-size: 1.2rem;
  text-align: center;
  color: black;
  max-width: 600px;
}

/* About Section Styles */
#about {
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.3);
}

#about h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
}

#about p {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
}

#about ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#about ul li {
  margin: 0 10px;
}

#about ul li a {
  font-size: 1.2em;
  color: #29a6e6;
  transition: color 0.3s;
}

#about ul li a:hover {
  color: #077eba;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

/* Add animation keyframes */
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Hide all images by default */
.mySlides {
  display: none;
}

/* Optional: Add some styles for the slideshow container */
.slideshow-container {
  height: auto;
  max-width: auto; /* Updated: Increase max-width for a larger container */
  position: relative;
  margin: auto;
}

/* Optional: Add styles for images if needed */
.mySlides img {
  max-width: 2000px; /* Edited: Ensure images take full width of their container */
  height: auto; /* Edited: Maintain aspect ratio */
  max-height: 400px; /* Edited: Set maximum height for larger images */
}

/* Optional: Add styles for images if needed */
.Slides img {
  max-width: 2000px; /* Edited: Ensure images take full width of their container */
  height: auto; /* Edited: Maintain aspect ratio */
  max-height: 400px; /* Edited: Set maximum height for larger images */
}

video {
  border: #077eba solid;
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out;
}

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Style for the logo */
#logo {
  margin: 0;
  cursor: pointer;
  transition: transform 0.3s;
  max-width: 300px; /* Increase max-width for a larger logo */
  height: auto;
  transform: scale(1);
  color: #666; /* Set the color of the logo text */
  font-size: 2rem; /* Increase font size for bigger text */
  font-weight: normal; /* Use normal weight for the Lobster font */
  font-family: "Lobster", cursive; /* Apply Lobster font */
  text-align: center; /* Center-align the text */
}

/* Optional: Add hover effect */
#logo:hover {
  transform: scale(1.1); /* Slightly enlarge the logo on hover */
}

/* Style for the intro video play and button */
.video-container {
  justify-content: center;
  position: relative;
  width: 20%;
  max-width: 640px;
  margin: 0 auto;
}
.video-container video {
  width: 100%;
  display: none; /* Hide the video initially */
}
.play-button {
  width: 100%;
  max-width: 640px;
  height: 560px;
  background: url("./Images/blue-play-button.png") center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

#go_up {
  float: right;
  position: relative;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  color: #077eba;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

hr {
  border: 0;
  height: 2px; /* Adjust the height as needed */
  background-color: rgba(
    128,
    128,
    128,
    0.5
  ); /* Grey color with 50% transparency */
  margin: 20px 0; /* Remove margins */
  padding: 0; /* Remove padding */
  width: 100%; /* Ensure it spans the full width of the container */
}
